*{
    box-sizing: border-box;
}

header{
    text-align: center;
    color: azure;
    background-color: black;
    padding:10px;
}

fieldset{
    border: none;
    display: flex;
    flex-direction: column;
}

input{
    background-color: rgb(241, 234, 234);
}

input[id=name ]::placeholder{
    text-align: right;
}

input[id=email ]::placeholder{
    text-align: right;
}

select{
    background-color: rgb(241, 234, 234);
}







.intro{
    text-align: center;
    border-bottom: black 4px solid;
    margin-bottom: 5px;
}

.formholder{
    border-top: black 2px solid;
}

.contact{
    border-bottom: 2px solid;
}









