*{
    box-sizing: border-box;
 font-family: 'Merriweather', serif;;
}

header{
    text-align: center;
    color: azure;
    background-color: black;
    padding:10px;
}

fieldset{
    border: none;
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    padding-bottom: 20px;
}

legend{
    font-size: 1.3em;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
}


label{
    
    padding-top: 15px;
    padding-bottom:15px ;
}

input{
    height: 50px;
    background-color: rgb(241, 234, 234);
}

input[id=name ]::placeholder{
    text-align: right;
}

input[id=email ]::placeholder{
    text-align: right;
}

select{
    background-color: rgb(241, 234, 234);
    height: 50px;
}

textarea{
    background-color: rgb(241, 234, 234);
}

button{
    color: white;
    background-color: teal;
    margin-top: 10px;
    border-radius: 10%;
    padding: 20px;
}


footer{
    text-align: center;
}







.intro{
    text-align: center;
    border-bottom: black 4px solid;
    margin-bottom: 5px;
}



.intro p{
   font-size: 1.1rem;
   
}


.formholder{
    border-top: black 3px solid;
}


.contact{
    border-bottom: 2px solid;
}














