*{
    box-sizing: border-box;
 font-family: 'Merriweather', serif;;
}

header{
    text-align: center;
    color: azure;
    background-color: black;
    padding:10px;
}


legend{
    font-size: 1.3em;
    font-weight: bold;
    padding-top: 50px;
    padding-bottom: 20px;
}


label{
    
    padding-top: 15px;
    padding-bottom:15px ;
}

input{
    height: 50px;
    background-color: rgb(241, 234, 234);
   
    padding: 10px;
    border: none;
    
}

input[id=name ]::placeholder{
    text-align: right;
}

input[id=email ]::placeholder{
    text-align: right;
}

input:focus{
    background-color: violet;
}

select{
    background-color: rgb(241, 234, 234);
    height: 50px;
   
    border: none;
    
}

textarea{
    background-color: rgb(241, 234, 234);
    border: none;
    align-self: center;
    width:85%;
}

button{
    color: white;
    background-color: teal;
    margin-top: 30px;
    padding: 20px;
    font-size: 1.5em;
    border: none;
    align-self: center;
    width:85%;
}


footer{
    text-align: center;
    background-color: #3d405b;
    width: 100%;
    padding: 10px;
    color: white;
   
}










.intro{
    text-align: center;
    border-bottom: black 4px solid;
    margin-bottom: 5px;
    background-color:#f4f1de ;
    padding-top: 10px;
}



.intro p{
   font-size: 1.1rem;
   
}


.formholder{
    border-top: black 3px solid;
}


.form_1,
.form_2{
    border: none;
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    padding-bottom: 20px;
}


.contact{
    border-bottom: 2px solid;
    background-color: #e07a5f;
}

.datacollect{
    display: flex;
    flex-direction: column;
}

.Newsletter{
    background-color:#e07a5f ;
}


.questions{
    display: flex;
    flex-direction: column;
    
}

.form_2 label{
padding-left: 15px;
}

.zipper{
    display: flex;
    flex-direction: column;
    width: 50%;
   
}

.checkboxcollect{
    display: flex;
}










@media (min-width:768px){


 .wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%
} 

main{
    width: 560px;
}


.datacollect{

flex-direction: row;
justify-content: space-between;


}



.datacollect #name, #email,#phone,#streetadd, #city,#state{
    width: 70%;
    margin-bottom: 30px;
}


.zipper{
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

#zip{
    width: 40%;
}

footer{
    width: 560px;
}


}















